<section id="about">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="left-wrapper">
                    <div class="content">
                        <div class="title">
                            <h4>Acerca de mí</h4>
                            <h2>Deseo <span>DISEÑAR Y DESARROLLAR</span>
                                SITIOS WEB PARA TODOS</h2>
                            <p>Soy una persona apasionada por la programación, la electrónica y la seguridad vial.<br />
                                He realizado las páginas web para la empresa en la que actualmente trabajo, utilizando HTML5, CSS3, JAVASCRIPT, BOOTSTRAP, PHP, MYSQL, WORDPRESS Y MOODLE. Este último, implementando la plataforma de cursos virtuales, que actualmente cuenta con un registro de +20000 usuarios y más de 30 cursos.</p>
                        </div>
                    </div>
                </div>
                <div class="right-wrapper">
                    <div class="content _yt_er_ol">
                        <div class="_re_uy_iu">
                            <div class="_ol_ew_xs">
                                <span>HTML5</span>
                                <span>50%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 50%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>CSS3</span>
                                <span>45%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 45%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>JavaScript</span>
                                <span>40%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 40%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>PHP</span>
                                <span>40%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 40%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>Bootstrap</span>
                                <span>60%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 60%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>C</span>
                                <span>30%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 30%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>Python</span>
                                <span>30%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 30%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>WordPress</span>
                                <span>60%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 60%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>MySQL</span>
                                <span>40%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 40%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="_ol_ew_xs">
                                <span>Moodle</span>
                                <span>70%</span>
                            </div>
                            <div class="progress">
                                <div style="width: 70%;" class="progress-bar my-bars" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inter">
                    <h6>LO QUE HAGO</h6>
                </div>
            </div>
        </div>
    </div>
</section>