{% load static %}
<section id="home">
    <header>
        <div class="container">
            <div class="main-nav">
                <div class="logo">
                    <h2>Andrés Rodríguez</h2>
                </div>
                <div class="social-media">
                    <ul>
                        <li><a href="{{ 'https://onx.la/702ca' }}" target="_blank"><i class="flaticon-linkedin"></i></a></li>
                    </ul>
                </div>
                <div onclick="show_menu()" class="my-toogle">
                    <span><i class="flaticon-menu"></i></span>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="my-wrapper">
                <div class="inter">
                    <h6>Bienvenido</h6>
                </div>
                <div class="welcome-box">
                    <h3>Bienvenido a <span>mi portafolio</span></h3>
                </div>
                <div class="name-box">
                    <h1>Hola, mi nombre es <span>Andrés Rodríguez.</span></h1>
                </div>
                <div class="line"></div>
            </div>
            <div class="copy-right">
                <h6>© Andrés 2023</h6>
            </div>
        </div>
    </div>
</section>