<section id="resume">
    <div class="container">
        <div class="row">
            <div class="my-wrapper">
                <div class="left-wrapper">
                    <div class="content">
                        <div class="head">
                            <h2>Educación</h2>
                        </div>
                        <div class="list-inner">
                            <ol>
                                <li>
                                    <h4>Desarrollo web fullstack</h4>
                                    <h6>Simplon - Educamas</h6>
                                    <span>Octubre de 2022 a Marzo de 2023</span>
                                </li>
                                <li>
                                    <h4>Maestría en Diseño de Ambientes de Aprendizaje Innovadores</h4>
                                    <h6>Universidad Autonoma de Manizales (UAM)</h6>
                                    <span>junio de 2022 a Junio de 2024</span>
                                </li>
                                <li>
                                    <h4>Tecnología en Electrónica</h4>
                                    <h6>Universidad Distrital Francisco José de Caldas (UDFJC)</h6>
                                    <span>Abril de 2019 a Abril de 2023</span>
                                </li>
                                <li>
                                    <h4>Técnico Profesional en Seguridad Vial</h4>
                                    <h6>Escuela de Seguridad Vial (ESEVI) - Policía Nacional de Colombia</h6>
                                    <span>Junio de 2016 a Noviembre de 2021</span>
                                </li>
                                <li>
                                    <h4>Técnico en Seguridad Vial, Control del Tránsito y Transporte</h4>
                                    <h6>Servicio Nacional de Aprendizaje (SENA)</h6>
                                    <span>Febrero de 2018 a Noviembre de 2018</span>
                                </li>
                                <li>
                                    <h4>Administrador en Salud Ocupacional</h4>
                                    <h6>Corporación Universitaria Minuto de Dios (UNIMINUTO)</h6>
                                    <span>Enero de 2014 a Noviembre de 2018</span>
                                </li>
                                <li>
                                    <h4>Técnico laboral por competencias en Tránsito, Transporte y Seguridad Vial</h4>
                                    <h6>Escuela Iberoamericana de Ciencias Técnicas (EICT)</h6>
                                    <span>Febrero de 2013 a Noviembre de 2013</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-wrapper">
                    <div class="content">
                        <div class="head">
                            <h2>Experiencia</h2>
                        </div>
                        <div class="list-inner">
                            <ol>
                                <li>
                                    <h4>Consultoría y Capacitación HSEQ</h4>
                                    <h6>Administrador de plataforma Moodle y páginas web</h6>
                                    <span>Diciembre-2021 (actual)</span>
                                    <p>Funciones: 
                                        <ol>
                                            <li class="text-light">Diseñar, actualizar e implementar la plataforma Moodle.</li>
                                            <li class="text-light">Proponer, diseñar e implementar cursos en la plataforma Moodle.</li>
                                            <li class="text-light">Diseñar las páginas web correspondientes a Consultoría y Capacitación HSEQ y Alturas HSEQ.</li>
                                            <li class="text-light">Creación de un CRUD para Alturas HSEQ.</li>
                                            <li class="text-light">Desarrollo e implementación del módulo para consultar alumnos.</li>
                                            <li class="text-light">Brindar soporte a los computadores de los colaboradores de la empresa.</li>
                                        </ol>
                                    </p>
                                </li>
                                <li>
                                    <h4>Consultoría y Capacitación HSEQ</h4>
                                    <h6>Coordinador SST</h6>
                                    <span>Mayo-2016 a Diciembre-2021</span>
                                    <p>Funciones: 
                                        <ol>
                                            <li class="text-light">Capacitación en Seguridad Vial, Tránsito, Transporte, Transporte de Mercancías Peligrosas, Primeros Auxilios, Manejo de Extintores, SST, etc.</li>
                                            <li class="text-light">Proponer nuevas capacitaciones en los temas relacionados con la compañia.</li>
                                            <li class="text-light">Actualización del material educativo (cartillas, libros, volantes, presentaciones).</li>
                                            <li class="text-light">Coordinar las actividades relacionadas con SST.</li>
                                            <li class="text-light">Brindar asesoría en temas de Tránsito, Transporte y Seguridad Vial.</li>
                                            <li class="text-light">Generar conceptos técnicos a clientes de los temas relacionados.</li>
                                            <li class="text-light">Diseñar, actualizar e implementar el SG-SST.</li>
                                            <li class="text-light">Realizar pruebas prácticas de conducción.</li>
                                        </ol>
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="inter">
                    <h6>RESUMEN</h6>
                </div>
            </div>
        </div>
    </div>
</section>