{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Portafolio</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    {% include 'partials/menu.html' %}

    {% include 'partials/navbar.html' %}

    {% include 'partials/about.html' %}

    {% include 'partials/resume.html' %}

    {% include 'partials/portfolio.html' %}

    {% include 'partials/contact.html' %}



    {% block content %}

    {% endblock %}


</body>
</html>